body {
  background-color: initial;
}

#LucieL {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#LucieG {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#MarketaP {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KarolinaS {
  background-color:bisque;
  font-family: "Georgia";
  color:blueviolet;
}
