body {
  background-color: initial;
}

#LucieL {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#LucieG {
  display: flex;
  background-color: beige;
  font-family: "Red Hat Display", sans-serif;
  color: #3b3022;
  padding: 20px 20px;
}
.text-wrapper {
  width: 40%;
  padding-right: 30px;
}
.img-wrapper {
  padding: 30px;
}
.imglugue {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 50%;
}

#MarketaP {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KarolinaS {
  background-color: bisque;
  font-family: "Georgia";
  color: blueviolet;
}
